.headline {
    align-items: center;
    text-align: center;
    color: rgb(67, 31, 92);
    margin: 0px;
    font-size: 100px;
    height: auto;
    background-color: #cfc6ff;
    width: 100%;
    display: inline-flex;
    align-self: end;
    justify-content: space-between;
}

.headline .titel {
    align-items: center;
    
    color: rgb(67, 31, 92);
    margin: 0px;
    font-size: 100px;
    height: auto;
    width: 100%;
    
}

.headline .zweittitel {
    display: block;
    font-size: 30px;
    color: rgb(38, 155, 190);
    font-weight: normal;
}


body {
    background-color: #fff9eb;
    cursor: url("pictures/button-cursor.png"), auto;
}

.headline .logo{
    display: inline-flex;
    align-self: end;
    justify-content: space-between;
    text-align: right;
}


nav ul {
    text-align: center;
    font-size: 22px;
    border:rgb(38, 155, 190) solid;
    display: flex;
    justify-content: space-evenly;
    /* weitere Angaben */
}

nav li {
    display: inline-block;
    justify-content: space-between;
    /* weitere Angaben */
}


article{
    font-size: 20px;
    margin: 0px 100px;
}

.angebote{
    display: block;
    align-items: start;
    font-size: 20px;
    text-align: left;
    width: auto;
    margin-bottom: 20px;
    
}

.angebot{
    color: rgb(84, 54, 168);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    width: auto;
    
}

.angebot::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: rgb(84, 54, 168);
}


a {
    cursor: url("pictures/button-cursor.png"), pointer;
    color: rgb(107, 219, 223);

}

.zitatbox{
    width: 50%;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin: 20px;
    font-size: 16px;
    font-style: italic;
    text-align: left; 
    margin-bottom: 10px;
}

.zitat{
    margin: 20px;
    font-size: 16px;
    font-style: italic;
    text-align: left; 
}

.zitat.active { 
    opacity: 1;
}

.endzitat {
    color: rgb(38, 155, 190);
    text-align: center;
    display: block;
}