.headline {
    align-items: center;
    text-align: center;
    color: rgb(67, 31, 92);
    margin: 0rem;
    font-size: 1.5rem;
    height: auto;
    background-color: #cfc6ff;
    width: 100%;
    display: inline-flex;
    align-self: end;
    justify-content: space-between;
}

.headline .titel {
    align-items: center;
    color: rgb(67, 31, 92);
    margin: 0rem;
    font-size: 10vw;
    height: auto;
    width: 100%;
    
}

img {
  display: block;
}


picture {
    margin: 0em;
    height: auto;
    
}

.headline .zweittitel {
    display: block;
    font-size: 5vw;
    color: rgb(38, 155, 190);
    font-weight: normal;
}


body {
    background-color: #fff9eb;
    cursor: url("pictures/button-cursor.png"), text;
}

.headline .logo{
    display: inline-flex;
    justify-content: space-between;    
    
    text-align: right;
}


nav ul {
    text-align: center;
    font-size: 0.7rem;
    border:rgb(38, 155, 190) solid;
    display: flex;
    justify-content: space-evenly;
    /* weitere Angaben */
}

nav li {
    display: inline-block;
    justify-content: space-between;
    /* weitere Angaben */
}


article{
    font-size: 1.2rem;
    margin: 0rem 2rem;
}

.angebote{
    display: block;
    align-items: start;
    font-size: 1.2rem;
    text-align: left;
    width: auto;
    margin-bottom: 1rem;
    
}

.angebot{
    color: rgb(84, 54, 168);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: left;
    width: auto;
    
}

.angebot::before {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: rgb(84, 54, 168);
}


a {
    cursor: url("pictures/button-cursor.png"), pointer;
    color: rgb(107, 219, 223);

}

.zitatbox{
    width: 50%;
    align-items: center;
    align-self: center;
    justify-self: center;
    font-size: 1rem;
    font-style: italic;
    text-align: left; 
    margin-bottom: 1rem;
}

.zitat{
    margin: 0.2rem;
    font-size: 0.8rem;
    font-style: italic;
    text-align: left; 
}

.zitat.active { 
    opacity: 1;
}

.endzitat {
    color: rgb(38, 155, 190);
    text-align: center;
    display: block;
}